<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Referrer-Policy" content="no-referrer, strict-origin-when-cross-origin">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#343a40">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="/style/bootstrap-4.5.3.min.css">
    <link type="text/css" rel="stylesheet" href="/style/bootstrap-vue-2.18.0.min.css" />
    <link type="text/css" rel="stylesheet" href="/style/bootstrap-vue-icons-2.18.0.min.css" />
    <link rel="stylesheet" href="/style/fontawesome-5.15.1.min.css">
    <link rel="stylesheet" href="/style/theme-1.0.1.css">
    <script src="/script/vue-2.6.12.js"></script>
    <script src="/script/vue-i18n-8.22.1.min.js"></script>
    <script src="/script/vue-router-3.4.7.min.js"></script>
    <script src="/script/vue-resource-1.5.1.min.js"></script>
    <script src="/script/bootstrap-vue-2.18.0.min.js"></script>
    <script src="/script/bootstrap-vue-icons-2.18.0.min.js"></script>
    {{ Header.JS|raw }}
    <title>{{ Config.PageTitle }}</title>
  </head>

  <body>

    <div id="vue-app">
      <rc-navbar :page="page" :user="user"></rc-navbar>
      <main>
        <div class="page"
          v-bind:class="{'pl-0': user.loggedIn === false, 'sidebar-visible': page.sidebar.visible}">
          <sidebar :page="page" v-if="user.loggedIn"></sidebar>
          <div class="page-wrapper">
            <div class="page-header-wrapper"
              v-if="user.loggedIn">
              <div class="page-header">
                <rc-breadcrumbbar :page="page" :recipe="page.currentRecipe"
                  v-if="user.loggedIn"></rc-breadcrumbbar>
              </div>
              <div class="page-topbar">
                {% include 'common/navbar-inpage.html.twig' %}
              </div>
            </div>
            <div class="page-content pt-3">
              {% include 'common/content-container.html.twig' %}
            </div>
          </div>
        </div>
      </main>
      <div class="modal modal-danger" tabindex="-1" role="dialog" id="action-failed-modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">{{Controller.l('modals_failed_head')}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p class="my-0">${ page.modals.failedModal.message }</p>
              <p class="text-small my-0">Code: ${ page.modals.failedModal.code }</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-blue" data-dismiss="modal">{{Controller.l('modals_failed_close')}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="reactive-size-spy-lg" class="d-none d-lg-block"></div>

    {% include 'templates/home.html.twig' %}
    {% include 'templates/body/rc-breadcrumbbar.html.twig' %}
    {% include 'templates/body/rc-navbar.html.twig' %}
    {% include 'templates/body/body-elements.html.twig' %}
    {% include 'templates/recipe/recipe.html.twig' %}
    {% include 'templates/write-recipe/form.html.twig' %}
    {% include 'templates/recipes/recipes-listing-template.html.twig' %}
    {% include 'templates/search/search.html.twig' %}
    {% include 'templates/user/login.html.twig' %}
    {% include 'templates/user/logout.html.twig' %}

    <script src="/script/jquery-3.5.1.min.js"></script>
    <script src="/script/bootstrap-4.5.3.bundle.min.js"></script>
    <script src="/script/plotly-1.54.1.min.js"></script>{% if Page.Scripts.StarRating == true %}
    <script src="/script/rater.min.js"></script>{% endif %}

    <script src="/script/vue-custom-1.0.0.js"></script>

    <script>

      function delay(callback, ms) {
        var timer = 0;
        return function() {
          var context = this, args = arguments;
          clearTimeout(timer);
          timer = setTimeout(function () {
            callback.apply(context, args);
          }, ms || 0);
        };
      }

      function easytooltip(obj, title, type="success", direction="bottom", duration=5000) {
        obj.tooltip({
          placement: direction,
          title: title,
          trigger: 'manual'
        });
        obj.tooltip('show');
        if (type == "success") {
          $('.tooltip-inner').addClass('bg-light text-success border border-success');
        } else if (type == "info") {
          $('.tooltip-inner').addClass('bg-light text-dark border border-dark');
        } else if (type == "error") {
          $('.tooltip-inner').addClass('bg-light text-danger border border-danger');
        }
        setTimeout(function(){
          obj.tooltip('dispose');
        }, duration);
      }

      var sidebarOpened = false;

      $('div.page-overlay').click(function() {
        sidebarOpened = false;
        $(this).removeClass('sidebar-opened');
        $('div.nav-sidebar').removeClass('sidebar-opened');
        $('a.sidebar-toggle-nav').removeClass('sidebar-opened');
      });

      $('a.sidebar-toggle-nav').click(function() {
        if (sidebarOpened) {
          sidebarOpened = false;
          $('div.page-overlay').removeClass('sidebar-opened');
          $('div.nav-sidebar').removeClass('sidebar-opened');
          $('a.sidebar-toggle-nav').removeClass('sidebar-opened');
        } else {
          sidebarOpened = true;
          $('div.page-overlay').addClass('sidebar-opened');
          $('div.nav-sidebar').addClass('sidebar-opened');
          $('a.sidebar-toggle-nav').addClass('sidebar-opened');
        }
      });

      $('button.header-toggle-nav').click(function() {
        sidebarOpened = true;
        $('div.page-overlay').addClass('sidebar-opened');
        $('div.nav-sidebar').addClass('sidebar-opened');
        $('a.sidebar-toggle-nav').addClass('sidebar-opened');
      });

      $(function () {
        $('[data-toggle="tooltip"]').tooltip();
      });

      $(document).ready(function() {
{% if Page.Scripts.FormValidator %}{% include 'scripts/html-forms-validate.js.twig' %}{% endif %}
      });

    </script>
    <script>{% for script in Page.Scripts.Custom %}
{% include 'scripts/' ~ script ~ '.js.twig' %}{% endfor %}</script>

  </body>

</html>
