<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Referrer-Policy" content="no-referrer, strict-origin-when-cross-origin">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#343a40">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="/style/bootstrap-4.5.3.min.css">
    <link type="text/css" rel="stylesheet" href="/style/bootstrap-vue-2.18.0.min.css" />
    <link type="text/css" rel="stylesheet" href="/style/bootstrap-vue-icons-2.18.0.min.css" />
    <link rel="stylesheet" href="/style/fontawesome-5.15.1.min.css">
    <link rel="stylesheet" href="/style/ekko-lightbox-5.3.0.css">
    <link rel="stylesheet" href="/style/theme-1.2.3.css">
    <script src="/script/vue-2.6.12.js"></script>
    <script src="/script/vue-loaders-4.1.1.umd.js"></script>
    <script src="/script/vue-router-3.4.7.min.js"></script>
    <script src="/script/vue-resource-1.5.1.min.js"></script>
    <script src="/script/sortable-1.1.0.min.js"></script>
    <script src="/script/vuedraggable-2.24.3.umd.min.js"></script>
    <script src="/script/bootstrap-vue-2.18.0.min.js"></script>
    <script src="/script/bootstrap-vue-icons-2.18.0.min.js"></script>
    <script src="/script/moment-2.29.1.min.js"></script>
    <script src="/script/lodash-4.17.20.min.js"></script>
    <script src="/script/i18n/rc-de-1.2.7.js"></script>
    {{ Header.JS|raw }}
    <title>{{ Config.Page('Title') }}</title>
  </head>

  <body>

    <div id="vue-app">
      <rc-navbar :page="page" :user="user"></rc-navbar>
      <main>
        <b-container class="page" fluid
          v-bind:class="{'p-0': true, 'pl-0': user.loggedIn === false, 'sidebar-visible': page.sidebar.visible}"> <!-- page -->
          <sidebar :page="page" v-if="user.loggedIn"></sidebar>
          <b-container class="page-wrapper p-0" fluid> <!-- page-wrapper -->
            <b-container class="page-header-wrapper p-0"
              v-if="user.loggedIn"> <!-- page-header-wrapper -->
            </b-container> <!-- page-header-wrapper -->
            {% include 'common/content-container.html.twig' %}
          </b-container> <!-- page-wrapper -->
        </b-container> <!-- page -->
      </main>
      <div class="modal modal-danger" tabindex="-1" role="dialog" id="action-failed-modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" v-text="$t('modals.failed.head')"></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p class="my-0">${ page.modals.failedModal.message }</p>
              <p class="text-small my-0">Code: ${ page.modals.failedModal.code }</p>
            </div>
            <div class="modal-footer">
              <rc-button :title="$t('modals.failed.close')" data-dismiss="modal"></rc-button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="reactive-size-spy-lg" class="d-none d-lg-block"></div>

    {% include 'templates/home.html.twig' %}
    {% include 'templates/body/rc-button.html.twig' %}
    {% include 'templates/body/rc-navbar.html.twig' %}
    {% include 'templates/body/body-elements.html.twig' %}
    {% include 'templates/recipe/recipe.html.twig' %}
    {% include 'templates/recipe-gallery/gallery.html.twig' %}
    {% include 'templates/write-recipe/form.html.twig' %}
    {% include 'templates/recipes/recipes-listing-template.html.twig' %}
    {% include 'templates/search/search.html.twig' %}
    {% include 'templates/user/login.html.twig' %}
    {% include 'templates/user/logout.html.twig' %}
    {% include 'js-common-data.js.twig' %}

    <script src="/script/jquery-3.5.1.min.js"></script>
    <script src="/script/bootstrap-4.5.3.bundle.min.js"></script>
    <script src="/script/ekko-lightbox-5.3.0.min.js"></script>
    <script src="/script/plotly-1.54.1.min.js"></script>
    <script src="/script/vue-i18n-8.22.1.min.js"></script>
    <script src="/script/vue-i18n-locales-1.2.0.js"></script>

    <script src="/script/vue-custom-1.2.6.js"></script>

    <script>

      $(function () {
        $('[data-toggle="tooltip"]').tooltip();
      });

      $(document).ready(function() {

        $(document).on('click', '[data-toggle="lightbox"]:not([data-gallery="navigateTo"])', function(event) {
          event.preventDefault();
          return $(this).ekkoLightbox({
            alwaysShowClose: true
          });
        });

      });

    </script>
  </body>

</html>
