@charset "UTF-8";
@font-face {
  font-family: Cinzel;
  src: url("/webfonts/Cinzel-Regular.ttf"); }
@font-face {
  font-family: SourceSansPro;
  src: url("/webfonts/SourceSansPro-Regular.ttf"); }
@font-face {
  font-family: "SourceSansPro Bold";
  src: url("/webfonts/SourceSansPro-Bold.ttf"); }
@font-face {
  font-family: "SourceSansPro Light";
  src: url("/webfonts/SourceSansPro-Light.ttf"); }
html {
  scroll-behavior: smooth; }

body {
  background-color: #E6E8E6;
  color: #141514;
  font-family: SourceSansPro;
  height: 100%; }

a {
  color: #0D3759; }
  a:hover {
    color: #1C77C3;
    text-decoration: none; }

h1, h2, h3 {
  font-family: Cinzel; }

.btn-blue, .btn-outline-blue.active {
  color: #E6E8E6 !important;
  background-color: #0D3759;
  border-color: #0D3759; }
  .btn-blue:hover, .btn-outline-blue.active:hover {
    color: #E6E8E6 !important;
    background-color: #1C77C3;
    border-color: #1C77C3; }

.btn-outline-blue:not(.active) {
  color: #0D3759 !important;
  background-color: #E6E8E6;
  border-color: #0D3759; }
  .btn-outline-blue:not(.active):hover {
    color: #E6E8E6 !important;
    background-color: #1C77C3;
    border-color: #1C77C3; }

.btn-light-blue, .btn-outline-light-blue.active {
  color: #E6E8E6 !important;
  background-color: #1C77C3;
  border-color: #1C77C3; }
  .btn-light-blue:hover, .btn-outline-light-blue.active:hover {
    color: #E6E8E6 !important;
    background-color: #0D3759;
    border-color: #0D3759; }

.btn-outline-light-blue:not(.active) {
  color: #0D3759 !important;
  background-color: #E6E8E6;
  border-color: #1C77C3; }
  .btn-outline-light-blue:not(.active):hover {
    color: #E6E8E6 !important;
    background-color: #0D3759;
    border-color: #0D3759; }

.custom-control-input:checked ~ .custom-control-label::before {
  color: #E6E8E6 !important;
  background-color: #0D3759;
  border-color: #1C77C3; }

.page-link {
  color: #0D3759 !important; }
  .page-link:hover {
    color: #0D3759 !important; }

.bg-blue {
  background-color: #0D3759;
  color: #E6E8E6; }

.bg-light-blue {
  background-color: #EDF6FC; }

.bg-light {
  background-color: #E6E8E6; }

.bg-light-dark {
  background-color: #BFC4BF; }

.bg-light-muted {
  background-color: #D5D8D5; }

.bg-contrast {
  background-color: #1C77C3; }

.bg-contrast-brighter {
  background-color: #3B97E3; }

.bg-contrast-darker {
  background-color: #14588F; }

.border-blue {
  border-color: #0D3759 !important; }

.border-light-blue {
  border-color: #EDF6FC !important; }

.border-light {
  border-color: #E6E8E6 !important; }

.border-light-dark {
  border-color: #BFC4BF !important; }

.border-light-muted {
  border-color: #D5D8D5 !important; }

.border-contrast {
  border-color: #1C77C3 !important; }

.border-contrast-brighter {
  border-color: #3B97E3 !important; }

.border-contrast-darker {
  border-color: #14588F !important; }

.border-1 {
  border-width: 1px !important; }

.border-2 {
  border-width: 2px !important; }

.border-3 {
  border-width: 3px !important; }

.border-4 {
  border-width: 4px !important; }

.border-5 {
  border-width: 5px !important; }

.overflow-x-auto {
  overflow-x: auto; }

.overflow-x-default {
  overflow-x: visible; }

.overflow-x-hidden {
  overflow-x: hidden; }

.overflow-x-scroll {
  overflow-x: scroll; }

.overflow-y-auto {
  overflow-y: auto; }

.overflow-y-default {
  overflow-y: visible; }

.overflow-y-hidden {
  overflow-y: hidden; }

.overflow-y-scroll {
  overflow-y: scroll; }

.pointer {
  cursor: pointer; }

.rounded-bottom-0 {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important; }

.rounded-top-0 {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important; }

.text-blue {
  color: #0D3759; }
  .text-blue:hover {
    color: #0D3759; }

.text-contrast {
  color: #1C77C3; }
  .text-contrast :hover {
    color: #0D3759; }

.text-gray {
  color: #BFC4BF; }

.text-large, .fs-120 {
  font-size: 120%; }

.fs-120 {
  font-size: 110%; }

.text-small, .fs-80 {
  font-size: 80%; }

.text-100 {
  font-size: 100% !important; }

.w-10 {
  width: 10% !important; }

.w-20 {
  width: 20% !important; }

.w-25 {
  width: 25% !important; }

.w-30 {
  width: 30% !important; }

.w-40 {
  width: 40% !important; }

.w-50 {
  width: 50% !important; }

.w-50px {
  width: 50px !important; }

.w-60 {
  width: 60% !important; }

.w-70 {
  width: 70% !important; }

.w-75 {
  width: 75% !important; }

.w-80 {
  width: 80% !important; }

.w-90 {
  width: 90% !important; }

.w-min-content {
  width: min-content !important; }

.w-75px {
  width: 75px !important; }

.w-100px {
  width: 100px !important; }

.mw-100px {
  max-width: 100px !important; }

.w-200px {
  width: 200px !important; }

.mw-200px {
  max-width: 200px !important; }

.mw-400px {
  max-width: 400px !important; }

.h-10 {
  height: 10% !important; }

.h-20 {
  height: 20% !important; }

.h-25 {
  height: 25% !important; }

.h-30 {
  height: 30% !important; }

.h-40 {
  height: 40% !important; }

.h-50 {
  height: 50% !important; }

.h-60 {
  height: 60% !important; }

.h-70 {
  height: 70% !important; }

.h-75 {
  height: 75% !important; }

.h-80 {
  height: 80% !important; }

.h-90 {
  height: 90% !important; }

.h-100px {
  height: 100px !important; }

.h-200px {
  height: 200px !important; }

.of-contain {
  object-fit: contain; }

.of-cover {
  object-fit: cover; }

.of-fill {
  object-fit: fill; }

.of-none {
  object-fit: none; }

.of-scale-down {
  object-fit: scale-down; }

.modal-danger .modal-content {
  border-color: #DC3545; }
  .modal-danger .modal-content .modal-header {
    background-color: rgba(220, 53, 69, 0.1);
    border-bottom-color: rgba(220, 53, 69, 0.3); }
  .modal-danger .modal-content .modal-footer {
    background-color: rgba(220, 53, 69, 0.1);
    border-top-color: rgba(220, 53, 69, 0.3); }

.input-dark {
  background-color: #14588F;
  color: #E6E8E6;
  border-color: #E6E8E6; }
  .input-dark:focus {
    background-color: #1C77C3;
    color: #E6E8E6;
    border-color: #E6E8E6; }
  .input-dark::placeholder {
    color: #BFC4BF; }

.navbar {
  box-shadow: 0 2px 0 0 #14588F;
  z-index: 1200; }

ul.list-group-sm li.list-group-item {
  padding: .2rem .8rem; }

.alert-blue {
  color: #E6E8E6 !important;
  background-color: #0D3759;
  border-color: #0D3759; }
  .alert-blue:hover {
    color: #E6E8E6 !important;
    background-color: #1C77C3;
    border-color: #1C77C3; }

.alert-outline-blue {
  color: #0D3759 !important;
  background-color: #E6E8E6;
  border-color: #0D3759; }
  .alert-outline-blue:hover {
    color: #E6E8E6 !important;
    background-color: #1C77C3;
    border-color: #1C77C3; }

.alert-contrast {
  color: #1C77C3;
  background-color: #fff;
  border-color: #1C77C3; }

div.page {
  transition: padding-left 0.3s;
  width: 100%; }
  div.page.sidebar-visible {
    padding-left: 320px; }
  div.page .b-sidebar-outer {
    z-index: 600; }
  div.page .b-sidebar {
    padding-top: 58px; }
    div.page .b-sidebar ul {
      padding-left: 0;
      list-style: none; }
      div.page .b-sidebar ul.nav-sidebar-level1 li a {
        padding: 0.6rem 0.8rem; }
      div.page .b-sidebar ul.nav-sidebar-level2 {
        margin-bottom: 8px; }
        div.page .b-sidebar ul.nav-sidebar-level2 li a {
          padding: 0.4rem 0.7rem 0.4rem 2.5rem; }
      div.page .b-sidebar ul li {
        white-space: nowrap; }
        div.page .b-sidebar ul li a.router-link-active {
          background-color: rgba(13, 55, 89, 0.1);
          box-shadow: inset 4px 0 0 #1C77C3, inset -4px 0 0 #1C77C3; }
        div.page .b-sidebar ul li a {
          transition: padding 0.3s;
          display: flex;
          width: 100%;
          align-items: center; }
          div.page .b-sidebar ul li a i {
            margin-right: .5rem; }
          div.page .b-sidebar ul li a:hover {
            background-color: rgba(28, 119, 195, 0.1);
            box-shadow: inset 4px 0 0 #1C77C3, inset -4px 0 0 #1C77C3; }
  div.page div.page-wrapper {
    margin-bottom: 60px;
    width: 100%;
    transition: padding 0.3s; }
  div.page div.breadcrumbs {
    display: flex;
    min-height: 48px; }
    div.page div.breadcrumbs div.breadcrumbs-items {
      flex: 1;
      align-self: center;
      color: #313531; }
      div.page div.breadcrumbs div.breadcrumbs-items ul.breadcrumbs-list {
        display: flex;
        margin-bottom: 0;
        margin-top: 0;
        line-height: 16px;
        padding-left: 0;
        list-style: none; }
        div.page div.breadcrumbs div.breadcrumbs-items ul.breadcrumbs-list li {
          display: flex;
          align-items: center;
          position: relative;
          padding: 2px 0;
          overflow: hidden; }
          div.page div.breadcrumbs div.breadcrumbs-items ul.breadcrumbs-list li a {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            flex: 0 1 auto; }
          div.page div.breadcrumbs div.breadcrumbs-items ul.breadcrumbs-list li:not(:last-child) {
            padding-right: 13px; }
            div.page div.breadcrumbs div.breadcrumbs-items ul.breadcrumbs-list li:not(:last-child)::after {
              content: '›';
              position: absolute;
              right: 4px;
              top: 50%;
              transform: translateY(-50%); }
  div.page div.container-max1280 {
    max-width: 1280px; }
  div.page ul.content-list {
    margin: 0;
    padding: 0;
    list-style: none; }
    div.page ul.content-list li.item {
      padding: .6rem 1.0rem;
      position: relative;
      display: block;
      margin: 0;
      word-break: break-word; }
      div.page ul.content-list li.item.item-hoverable:hover {
        background-color: #D5D8D5; }
      div.page ul.content-list li.item:not(:last-child) {
        border-bottom: 1px solid #BFC4BF; }
      div.page ul.content-list li.item::after {
        display: block;
        clear: both;
        content: ""; }
      div.page ul.content-list li.item div.item-flexbox {
        display: flex;
        flex: 1; }
        div.page ul.content-list li.item div.item-flexbox div.item-icon {
          height: 60px;
          width: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 0.5rem; }
          div.page ul.content-list li.item div.item-flexbox div.item-icon i {
            color: #0D3759 !important; }
          div.page ul.content-list li.item div.item-flexbox div.item-icon img {
            border: 1px solid #BFC4BF; }
        div.page ul.content-list li.item div.item-flexbox div.item-major {
          flex: 1 auto;
          margin-right: 1.0rem; }
          div.page ul.content-list li.item div.item-flexbox div.item-major .title {
            margin: .2rem 0; }
            div.page ul.content-list li.item div.item-flexbox div.item-major .title a {
              font-weight: bold; }
          div.page ul.content-list li.item div.item-flexbox div.item-major .info span:not(:first-child) {
            margin-left: .3rem; }
          div.page ul.content-list li.item div.item-flexbox div.item-major .info span:not(:last-child) {
            margin-right: .3rem; }
        div.page ul.content-list li.item div.item-flexbox div.item-minor {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          flex: 1 0 auto;
          margin-left: 1.0rem; }
  div.page div.header-container {
    display: flex;
    width: 100%;
    position: relative;
    padding: .2rem 0;
    align-items: center;
    color: #313531; }
    div.page div.header-container.header-container-border {
      border-bottom: 1px solid #BFC4BF; }
    div.page div.header-container ul.nav-tabs-custom {
      border-bottom: 0;
      flex: 1 1 0%; }
      div.page div.header-container ul.nav-tabs-custom li a {
        background-color: transparent !important;
        padding: .1rem .4rem .3rem;
        margin: 0 .4rem;
        border: 0; }
      div.page div.header-container ul.nav-tabs-custom li.active a {
        border-bottom: 2px solid #BFC4BF;
        font-weight: bold; }
      div.page div.header-container ul.nav-tabs-custom li a.active {
        border-bottom: 2px solid #BFC4BF;
        font-weight: bold; }
    div.page div.header-container div.nav-buttons a.btn {
      padding: .2rem .5rem;
      margin: .4rem 0; }
  div.page button.header-toggle-nav {
    background-color: transparent;
    border: 0;
    padding: 0.3rem 1.0rem;
    margin: 0 0 0 -15px;
    height: 46px;
    color: #313531; }
  div.page div.page-overlay {
    position: fixed;
    background-color: #D5D8D5;
    height: 100%;
    width: 100%;
    z-index: 300;
    display: none; }
    div.page div.page-overlay.sidebar-opened {
      display: block !important; }
  div.page form.content-form {
    padding-top: .8rem; }

ul.pagination li.page-item.active a.page-link {
  color: #E6E8E6 !important;
  background-color: #0D3759;
  border-color: #0D3759; }
  ul.pagination li.page-item.active a.page-link:hover {
    color: #E6E8E6 !important;
    background-color: #0D3759;
    border-color: #0D3759; }

nav.nav-recipe-sm {
  background-color: #E6E8E6;
  border-top: 1px solid #BFC4BF; }

@media (max-width: 575.98px) {
  .card-columns.masonry-deck.cols-1 {
    column-count: 1; }
  .card-columns.masonry-deck.cols-2 {
    column-count: 2; }
  .card-columns.masonry-deck.cols-3 {
    column-count: 3; }
  .card-columns.masonry-deck.cols-4 {
    column-count: 4; }
  .card-columns.masonry-deck.cols-5 {
    column-count: 5; }
  .card-columns.masonry-deck.cols-6 {
    column-count: 6; } }
@media (min-width: 576px) and (max-width: 767.98px) {
  .card-columns.masonry-deck.cols-sm-1 {
    column-count: 1; }
  .card-columns.masonry-deck.cols-sm-2 {
    column-count: 2; }
  .card-columns.masonry-deck.cols-sm-3 {
    column-count: 3; }
  .card-columns.masonry-deck.cols-sm-4 {
    column-count: 4; }
  .card-columns.masonry-deck.cols-sm-5 {
    column-count: 5; }
  .card-columns.masonry-deck.cols-sm-6 {
    column-count: 6; } }
@media (min-width: 768px) and (max-width: 991.98px) {
  .card-columns.masonry-deck.cols-md-1 {
    column-count: 1; }
  .card-columns.masonry-deck.cols-md-2 {
    column-count: 2; }
  .card-columns.masonry-deck.cols-md-3 {
    column-count: 3; }
  .card-columns.masonry-deck.cols-md-4 {
    column-count: 4; }
  .card-columns.masonry-deck.cols-md-5 {
    column-count: 5; }
  .card-columns.masonry-deck.cols-md-6 {
    column-count: 6; } }
@media (min-width: 992px) and (max-width: 1199.98px) {
  .card-columns.masonry-deck.cols-lg-1 {
    column-count: 1; }
  .card-columns.masonry-deck.cols-lg-2 {
    column-count: 2; }
  .card-columns.masonry-deck.cols-lg-3 {
    column-count: 3; }
  .card-columns.masonry-deck.cols-lg-4 {
    column-count: 4; }
  .card-columns.masonry-deck.cols-lg-5 {
    column-count: 5; }
  .card-columns.masonry-deck.cols-lg-6 {
    column-count: 6; } }
@media (min-width: 1200px) {
  .card-columns.masonry-deck.cols-xl-1 {
    column-count: 1; }
  .card-columns.masonry-deck.cols-xl-2 {
    column-count: 2; }
  .card-columns.masonry-deck.cols-xl-3 {
    column-count: 3; }
  .card-columns.masonry-deck.cols-xl-4 {
    column-count: 4; }
  .card-columns.masonry-deck.cols-xl-5 {
    column-count: 5; }
  .card-columns.masonry-deck.cols-xl-6 {
    column-count: 6; } }

/*# sourceMappingURL=theme-1.0.1.css.map */
