@charset "UTF-8";
@font-face {
  font-family: Cinzel;
  src: url("/webfonts/Cinzel-Regular.ttf"); }
@font-face {
  font-family: SourceSansPro;
  src: url("/webfonts/SourceSansPro-Regular.ttf"); }
@font-face {
  font-family: "SourceSansPro Bold";
  src: url("/webfonts/SourceSansPro-Bold.ttf"); }
@font-face {
  font-family: "SourceSansPro Light";
  src: url("/webfonts/SourceSansPro-Light.ttf"); }
html {
  scroll-behavior: smooth; }

body {
  background-color: #f8f9fa;
  color: #2C2E3A;
  font-family: SourceSansPro;
  height: 100%; }

a {
  color: #3E5D65; }
  a:hover {
    color: #3E6F7A;
    text-decoration: none; }

h1, h2, h3 {
  font-family: Cinzel; }

img.avatar-18 {
  width: 18px;
  height: 18px; }

img.avatar-40 {
  width: 40px;
  height: 40px; }

.btn-blue {
  color: #f8f9fa !important;
  background-color: #3E5D65;
  border-color: #3E5D65; }
  .btn-blue:hover {
    color: #f8f9fa !important;
    background-color: #3E6F7A;
    border-color: #3E6F7A; }

.btn-outline-blue {
  color: #3E5D65 !important;
  background-color: #f8f9fa;
  border-color: #3E5D65; }
  .btn-outline-blue:hover {
    color: #f8f9fa !important;
    background-color: #3E6F7A;
    border-color: #3E6F7A; }

.custom-control-input:checked ~ .custom-control-label::before {
  color: #f8f9fa !important;
  background-color: #3E5D65;
  border-color: #3E5D65; }

.page-link {
  color: #3E5D65 !important; }
  .page-link:hover {
    color: #3E6F7A !important; }

.bg-light {
  background-color: #e6e8e6; }

.bg-light-dark {
  background-color: #bcc2c8; }

.bg-light-muted {
  background-color: rgba(0, 0, 0, 0.05); }

.overflow-x-auto {
  overflow-x: auto; }

.overflow-x-default {
  overflow-x: visible; }

.overflow-x-hidden {
  overflow-x: hidden; }

.overflow-x-scroll {
  overflow-x: scroll; }

.overflow-y-auto {
  overflow-y: auto; }

.overflow-y-default {
  overflow-y: visible; }

.overflow-y-hidden {
  overflow-y: hidden; }

.overflow-y-scroll {
  overflow-y: scroll; }

.pointer {
  cursor: pointer; }

.rounded-bottom-0 {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important; }

.rounded-top-0 {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important; }

.text-blue {
  color: #3E5D65; }

.text-blue:hover {
  color: #3E6F7A; }

.text-contrast {
  color: #CC7865; }

.text-contrast:hover {
  color: #C4644E; }

.text-large, .fs-120 {
  font-size: 120%; }

.text-small, .fs-80 {
  font-size: 80%; }

.w-10 {
  width: 10% !important; }

.w-20 {
  width: 20% !important; }

.w-25 {
  width: 25% !important; }

.w-30 {
  width: 30% !important; }

.w-40 {
  width: 40% !important; }

.w-50 {
  width: 50% !important; }

.w-60 {
  width: 60% !important; }

.w-70 {
  width: 70% !important; }

.w-75 {
  width: 75% !important; }

.w-80 {
  width: 80% !important; }

.w-90 {
  width: 90% !important; }

.h-10 {
  height: 10% !important; }

.h-20 {
  height: 20% !important; }

.h-25 {
  height: 25% !important; }

.h-30 {
  height: 30% !important; }

.h-40 {
  height: 40% !important; }

.h-50 {
  height: 50% !important; }

.h-60 {
  height: 60% !important; }

.h-70 {
  height: 70% !important; }

.h-75 {
  height: 75% !important; }

.h-80 {
  height: 80% !important; }

.h-90 {
  height: 90% !important; }

.h-100px {
  height: 100px !important; }

.h-200px {
  height: 200px !important; }

.carousel-control {
  filter: drop-shadow(0 0 3px #000); }

header.navbar {
  box-shadow: 0 1px 0 0 #343a40; }
  header.navbar .navbar-nav .form-control {
    color: #e6e8e6 !important; }
  header.navbar .navbar-nav .nav-link {
    color: #e6e8e6 !important; }

ul.list-group-sm li.list-group-item {
  padding: .2rem .8rem; }

div.bootstrap-select button {
  background-color: #FFF;
  background-clip: padding-box;
  border: 1px solid #CED4DA;
  color: #495057;
  font-weight: 400;
  outline: 0;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; }

div.carousel div.carousel-caption {
  background-color: rgba(248, 249, 250, 0.8);
  bottom: 0;
  left: 0;
  right: 0;
  padding-left: 15%;
  padding-right: 15%; }
  div.carousel div.carousel-caption h4 {
    margin-bottom: 0;
    padding-bottom: .5rem; }
    div.carousel div.carousel-caption h4 a {
      color: #2C2E3A; }
  div.carousel div.carousel-caption p {
    color: #2C2E3A; }

div.carousel:not(.carousel-sm) ol.carousel-indicators {
  margin-bottom: .8rem; }
div.carousel:not(.carousel-sm) div.carousel-caption {
  padding-bottom: 1rem;
  padding-top: 1rem; }

div.carousel.carousel-sm ol.carousel-indicators {
  margin-bottom: .3rem; }
div.carousel.carousel-sm div.carousel-caption {
  padding-bottom: .4rem;
  padding-top: .4rem; }

div.page {
  transition: padding-left 0.3s;
  width: 100%; }
  div.page div.nav-sidebar {
    transition: width 0.3s, left 0.3s;
    position: fixed;
    z-index: 600;
    width: 230px;
    top: 56px;
    bottom: 0;
    left: 0;
    background-color: #e6e8e6; }
    div.page div.nav-sidebar.sidebar-opened {
      left: 0;
      width: 230px; }
    div.page div.nav-sidebar a {
      text-decoration: none; }
      div.page div.nav-sidebar a:hover {
        color: #3E6F7A;
        background-color: rgba(0, 0, 0, 0.05); }
    div.page div.nav-sidebar .nav-sidebar-inner-scroll {
      overflow-y: auto;
      overflow-x: hidden;
      height: 100%;
      width: 100%; }
      div.page div.nav-sidebar .nav-sidebar-inner-scroll .nav-sidebar-header {
        position: relative;
        width: 230px; }
        div.page div.nav-sidebar .nav-sidebar-inner-scroll .nav-sidebar-header a {
          transition: padding 0.3s;
          display: flex;
          width: 100%;
          align-items: center;
          padding: 0.8rem 0.7rem;
          font-weight: bold;
          box-shadow: 0 1px 1px 0 #bcc2c8;
          background-color: rgba(0, 0, 0, 0.05); }
        div.page div.nav-sidebar .nav-sidebar-inner-scroll .nav-sidebar-header img.avatar {
          padding: .2rem;
          box-shadow: 0 0 1px 1px #bcc2c8;
          margin-right: .4rem; }
    div.page div.nav-sidebar ul {
      padding-left: 0;
      list-style: none; }
      div.page div.nav-sidebar ul.nav-sidebar-level1 {
        margin-bottom: 60px; }
        div.page div.nav-sidebar ul.nav-sidebar-level1 li a {
          padding: 0.6rem 0.8rem; }
        div.page div.nav-sidebar ul.nav-sidebar-level1 a.sidebar-toggle-nav {
          transition: width 0.3s;
          position: fixed;
          height: 48px;
          width: 230px;
          bottom: 0;
          padding: 0 .8rem;
          display: flex;
          align-items: center;
          background-color: #e6e8e6;
          box-shadow: 0 -1px 1px 0 #bcc2c8; }
      div.page div.nav-sidebar ul.nav-sidebar-level2 {
        margin-bottom: 8px; }
        div.page div.nav-sidebar ul.nav-sidebar-level2 li a {
          padding: 0.4rem 0.7rem 0.4rem 2.5rem; }
      div.page div.nav-sidebar ul li {
        white-space: nowrap; }
        div.page div.nav-sidebar ul li a.router-link-active {
          background-color: rgba(0, 0, 0, 0.05);
          box-shadow: inset 4px 0 0 #343a40; }
        div.page div.nav-sidebar ul li a {
          transition: padding 0.3s;
          display: flex;
          width: 100%;
          align-items: center; }
  div.page div.page-wrapper {
    margin-bottom: 60px;
    width: 100%;
    transition: padding 0.3s; }
  div.page div.breadcrumbs {
    display: flex;
    min-height: 48px; }
    div.page div.breadcrumbs div.breadcrumbs-items {
      flex: 1;
      align-self: center;
      color: #3D3E3D; }
      div.page div.breadcrumbs div.breadcrumbs-items ul.breadcrumbs-list {
        display: flex;
        margin-bottom: 0;
        margin-top: 0;
        line-height: 16px;
        padding-left: 0;
        list-style: none; }
        div.page div.breadcrumbs div.breadcrumbs-items ul.breadcrumbs-list li {
          display: flex;
          align-items: center;
          position: relative;
          padding: 2px 0;
          overflow: hidden; }
          div.page div.breadcrumbs div.breadcrumbs-items ul.breadcrumbs-list li a {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            flex: 0 1 auto; }
          div.page div.breadcrumbs div.breadcrumbs-items ul.breadcrumbs-list li:not(:last-child) {
            padding-right: 13px; }
            div.page div.breadcrumbs div.breadcrumbs-items ul.breadcrumbs-list li:not(:last-child)::after {
              content: '›';
              position: absolute;
              right: 4px;
              top: 50%;
              transform: translateY(-50%); }
  div.page div.container-max1280 {
    max-width: 1280px; }
  div.page ul.content-list {
    margin: 0;
    padding: 0;
    list-style: none; }
    div.page ul.content-list li.item {
      padding: .6rem 1.0rem;
      position: relative;
      display: block;
      margin: 0;
      word-break: break-word; }
      div.page ul.content-list li.item.item-hoverable:hover {
        background-color: rgba(0, 0, 0, 0.05); }
      div.page ul.content-list li.item:not(:last-child) {
        border-bottom: 1px solid #bcc2c8; }
      div.page ul.content-list li.item::after {
        display: block;
        clear: both;
        content: ""; }
      div.page ul.content-list li.item div.item-flexbox {
        display: flex;
        flex: 1; }
        div.page ul.content-list li.item div.item-flexbox div.item-icon {
          height: 60px;
          width: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 0.5rem; }
          div.page ul.content-list li.item div.item-flexbox div.item-icon i {
            color: #3E5D65 !important; }
          div.page ul.content-list li.item div.item-flexbox div.item-icon img {
            border: 1px solid #bcc2c8; }
        div.page ul.content-list li.item div.item-flexbox div.item-major {
          flex: 1 auto;
          margin-right: 1.0rem; }
          div.page ul.content-list li.item div.item-flexbox div.item-major .title {
            margin: .2rem 0; }
            div.page ul.content-list li.item div.item-flexbox div.item-major .title a {
              font-weight: bold; }
          div.page ul.content-list li.item div.item-flexbox div.item-major .info span:not(:first-child) {
            margin-left: .3rem; }
          div.page ul.content-list li.item div.item-flexbox div.item-major .info span:not(:last-child) {
            margin-right: .3rem; }
        div.page ul.content-list li.item div.item-flexbox div.item-minor {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          flex: 1 0 auto;
          margin-left: 1.0rem; }
  div.page div.header-container {
    display: flex;
    width: 100%;
    position: relative;
    padding: .2rem 0;
    align-items: center;
    color: #3D3E3D; }
    div.page div.header-container.header-container-border {
      border-bottom: 1px solid #bcc2c8; }
    div.page div.header-container ul.nav-tabs-custom {
      border-bottom: 0;
      flex: 1 1 0%; }
      div.page div.header-container ul.nav-tabs-custom li a {
        background-color: transparent !important;
        padding: .1rem .4rem .3rem;
        margin: 0 .4rem;
        border: 0; }
      div.page div.header-container ul.nav-tabs-custom li.active a {
        border-bottom: 2px solid #bcc2c8;
        font-weight: bold; }
      div.page div.header-container ul.nav-tabs-custom li a.active {
        border-bottom: 2px solid #bcc2c8;
        font-weight: bold; }
    div.page div.header-container div.nav-buttons a.btn {
      padding: .2rem .5rem;
      margin: .4rem 0; }
  div.page button.header-toggle-nav {
    background-color: transparent;
    border: 0;
    padding: 0.3rem 1.0rem;
    margin: 0 0 0 -15px;
    height: 46px;
    color: #3D3E3D; }
  div.page div.page-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.05);
    height: 100%;
    width: 100%;
    z-index: 300;
    display: none; }
    div.page div.page-overlay.sidebar-opened {
      display: block !important; }
  div.page form.content-form {
    padding-top: .8rem; }

ul.pagination li.page-item.active a.page-link {
  color: #f8f9fa !important;
  background-color: #3E5D65;
  border-color: #3E5D65; }
  ul.pagination li.page-item.active a.page-link:hover {
    color: #f8f9fa !important;
    background-color: #3E6F7A;
    border-color: #3E6F7A; }

nav.nav-recipe-sm {
  background-color: #e6e8e6;
  border-top: 1px solid #bcc2c8; }

@media (min-width: 1200px) {
  div.page {
    padding-left: 230px; }

  button.header-toggle-nav {
    display: none; }

  i.sidebar-toggle-icon-open {
    display: none; }

  a.sidebar-toggle-nav {
    display: none !important; }

  div.container-home-register {
    border-left: 1px solid #e6e8e6; }

  div.carousel:not(.carousel-sm) div.carousel-item img {
    height: 550px;
    object-fit: contain; }

  div.carousel.carousel-sm div.carousel-item img {
    height: 300px;
    object-fit: cover; } }
@media (min-width: 768px) and (max-width: 1199.98px) {
  div.page {
    padding-left: 40px; }

  div.nav-sidebar:not(.sidebar-opened) {
    width: 40px !important;
    box-shadow: 1px 0 1px 0 #bcc2c8 !important; }

  .breadcrumbs-items {
    padding-left: 16px;
    border-left: 1px solid #bcc2c8; }

  div.nav-sidebar:not(.sidebar-opened) ul.nav-sidebar-level2 {
    display: none; }

  div.nav-sidebar-header a {
    padding: 0.8rem 0rem !important; }

  div.nav-sidebar-header img.avatar {
    box-shadow: none !important; }

  div.nav-sidebar ul.nav-sidebar-level1 li a i {
    margin-right: 2rem !important; }

  a.sidebar-toggle-nav:not(.sidebar-opened) {
    width: 40px !important; }

  a.sidebar-toggle-nav:not(.sidebar-opened) span.toggle-text {
    display: none; }

  a.sidebar-toggle-nav:not(.sidebar-opened) i.sidebar-toggle-icon-close {
    display: none; }

  a.sidebar-toggle-nav.sidebar-opened i.sidebar-toggle-icon-open {
    display: none; }

  div.container-home-register {
    border-top: 1px solid #e6e8e6; }

  div.carousel:not(.carousel-sm) div.carousel-item img {
    height: 350px;
    object-fit: contain; }

  div.carousel.carousel-sm div.carousel-item img {
    height: 250px;
    object-fit: cover; } }
@media (max-width: 768px) {
  div.nav-sidebar:not(.sidebar-opened) {
    left: -230px !important; }

  .breadcrumbs-items {
    padding-left: 16px;
    border-left: 1px solid #bcc2c8; }

  a.sidebar-toggle-nav:not(.sidebar-opened) {
    width: 40px !important; }

  a.sidebar-toggle-nav:not(.sidebar-opened) span.toggle-text {
    display: none; }

  a.sidebar-toggle-nav:not(.sidebar-opened) i.sidebar-toggle-icon-close {
    display: none; }

  a.sidebar-toggle-nav.sidebar-opened i.sidebar-toggle-icon-open {
    display: none; }

  div.container-home-register {
    border-top: 1px solid #e6e8e6; }

  div.carousel:not(.carousel-sm) div.carousel-item img {
    height: 250px;
    object-fit: contain; }

  div.carousel.carousel-sm div.carousel-item img {
    height: 200px;
    object-fit: cover; } }

/*# sourceMappingURL=theme-1.0.1.css.map */
