<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Referrer-Policy" content="no-referrer, strict-origin-when-cross-origin">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#DCEDB9">
    <style type="text/css">
      body { background-color: #f8f9fa; color: #2C2E3A; font-family: Verdana, Arial, FreeSans, Sans; height: 100%; }
      a { color: #3E5D65; }
      a:hover { color: #3E6F7A; text-decoration: none; }
    </style>
  </head>

  <body>

    <h3>{{ Headline }}</h3>
    {{ Content|raw }}

  </body>

</html>
