
    <template id="userprofile-template">
      <b-container>

        <i18n path="pages.account.moreoptions" tag="p" class="d-inline-block d-lg-none text-small text-muted">
          <template #profile>
            <router-link :to="{ name: 'profile' }" class="text-nowrap">
              <fa-icon :icon="page.iconSet.user.icon" :space="page.iconSet.user.space" class="text-small"></fa-icon>
              <span v-text="$t('pages.account.links.general')"></span>
            </router-link>
          </template>
          <template #subscriptions>
            <router-link :to="{ name: 'subscriptions' }" class="text-nowrap">
              <fa-icon :icon="page.iconSet.star.icon" :space="page.iconSet.star.space" class="text-small"></fa-icon>
              <span v-text="$t('pages.account.links.subscriptions')"></span>
            </router-link>
          </template>
          <template #notifications>
            <router-link :to="{ name: 'notifications' }" class="text-nowrap">
              <fa-icon :icon="page.iconSet.notification.icon" :space="page.iconSet.notification.space" class="text-small"></fa-icon>
              <span v-text="$t('pages.account.links.notifications')"></span>
            </router-link>
          </template>
          <template #settings>
            <router-link :to="{ name: 'settings' }" class="text-nowrap">
              <fa-icon :icon="page.iconSet.settings.icon" :space="page.iconSet.settings.space" class="text-small"></fa-icon>
              <span v-text="$t('pages.account.links.settings')"></span>
            </router-link>
          </template>
        </i18n>

        <router-view
          :config="config"
          :page="page"
          :user="user">
        </router-view>
        <div v-if="this.$router.currentRoute.matched.length == 1"> <!-- profile view if no child is selected -->

          <b-row class="mb-5">
            <b-col class="col-12 col-md-7">

              <div class="pb-1"> <!-- general information header -->
                <h4 v-text="$t('pages.account.header.title')"></h4>
                <i18n path="pages.account.header.description" tag="p" class="text-muted text-small">
                  <template #pubprofile>
                    <router-link :to="{ name: 'user', params: { id: user.id, name: user.meta.un } }" class="text-nowrap">
                      <fa-icon :icon="page.iconSet.user.icon" :space="page.iconSet.user.space" class="text-small"></fa-icon>
                      <span v-text="$t('pages.account.header.publicProfileLink')"></span>
                    </router-link>
                  </template>
                </i18n>
              </div> <!-- general information header -->

              <div class="pb-3"> <!-- general information header -->
                <router-link :to="{ name: 'editProfile' }" class="float-right">
                  <rc-button
                    :icon="page.iconSet.edit.icon" :space="page.iconSet.edit.space"
                    :title="$t('common.edit')"></rc-button>
                </router-link>
                <h4 v-text="$t('pages.account.personal.title')"></h4>
                <p class="text-muted text-small" v-text="$t('pages.account.personal.description')"></p>
              </div> <!-- general information header -->

              <b-row class="mb-2"> <!-- your name -->
                <b-col cols="12" md="4" class="text-md-right pr-md-2"
                  v-text="$t('pages.account.personal.yourName')">
                </b-col>
                <b-col cols="12" md="8" class="font-weight-bold">
                  <span v-if="name !== ''" v-text="name"></span>
                  <span v-else v-text="$t('common.noInfo')"></span>
                </b-col>
              </b-row> <!-- your name -->

              <b-row class="mb-2"> <!-- your username -->
                <b-col cols="12" md="4" class="text-md-right pr-md-2"
                  v-text="$t('pages.account.personal.yourUsername')">
                </b-col>
                <b-col cols="12" md="8" class="font-weight-bold">
                  <span v-text="user.meta.un"></span>
                </b-col>
              </b-row> <!-- your username -->

              <b-row class="mb-2"> <!-- your email -->
                <b-col cols="12" md="4" class="text-md-right pr-md-2"
                  v-text="$t('pages.account.personal.yourMail')">
                </b-col>
                <b-col cols="12" md="8" class="font-weight-bold">
                  <span v-if="user.meta.email !== ''" v-text="user.meta.email"></span>
                  <span v-else v-text="$t('common.noInfo')"></span>
                </b-col>
              </b-row> <!-- your email -->

              <b-row class="mb-2"> <!-- registration type -->
                <b-col cols="12" md="4" class="text-md-right pr-md-2"
                  v-text="$t('pages.account.personal.registrationType')">
                </b-col>
                <b-col cols="12" md="8" class="font-weight-bold">
                  <span v-if="user.cloudAccount === true" v-text="$t('pages.account.personal.cloudAccount')"></span>
                  <span v-else v-text="$t('pages.account.personal.localAccount')"></span>
                </b-col>
              </b-row> <!-- registration type -->

            </b-col>
          </b-row>

          <b-row class="mb-5">
            <b-col class="col-12 col-md-7">

              <div class="pb-1"> <!-- my recipes header -->
                <router-link :to="{ name: 'myRecipes' }" class="float-right">
                  <rc-button
                    :icon="page.iconSet.recipes.icon" :space="page.iconSet.recipes.space"
                    :title="$t('pages.account.recipes.gotoList')"></rc-button>
                </router-link>
                <h4 v-text="$t('pages.account.recipes.title')"></h4>
                <p class="text-muted text-small" v-text="$t('pages.account.recipes.description')"></p>
              </div> <!-- my recipes header -->

              <b-row class="mb-2"> <!-- recipes count -->
                <b-col cols="12" md="4" class="text-md-right pr-md-2"
                  v-text="$t('pages.account.recipes.count')">
                </b-col>
                <b-col cols="12" md="8" class="font-weight-bold">
                  <span v-text="$tc('pages.account.recipes.countStr', user.recipes.count)"></span>
                </b-col>
              </b-row> <!-- recipes count -->

              <b-row class="mb-2"> <!-- picture upload count -->
                <b-col cols="12" md="4" class="text-md-right pr-md-2"
                  v-text="$t('pages.account.recipes.pictures')">
                </b-col>
                <b-col cols="12" md="8" class="font-weight-bold">
                  <span v-text="$tc('pages.account.recipes.pictureStr', user.statistics.pictures.uploaded)"></span>
                </b-col>
              </b-row> <!-- picture upload count -->

              <b-row class="mb-2" v-if="user.recipes.count > 0">
                <b-col cols="12" md="4" class="text-md-right pr-md-2"
                  v-text="$t('pages.account.recipes.list')">
                </b-col>
                <b-col cols="12" md="8"
                  v-for="(recipe, index) in user.recipes.list"
                  v-if="index < user.customSettings.lists.entries || showAllRecipes === true"
                  :key="index" :page="page" :offset-md="index !== 0 ? 4 : '*'">
                  <router-link
                    :to="{ name: 'recipe', params: { 'id': recipe.id, 'name': recipe.name } }">
                    &bull; <span v-text="recipe.name"></span>
                    <fa-icon class="text-small" v-if="!recipe.public"
                      :icon="page.iconSet.lock.icon" :space="page.iconSet.lock.space" ></fa-icon>
                  </router-link>
                </b-col>
                <b-col cols="12" offset-md="4" md="8" class="pt-2"
                  v-if="user.recipes.count > user.customSettings.lists.entries && showAllRecipes === false">
                  <rc-button outline
                    :icon="page.iconSet.more.icon" :space="page.iconSet.more.space"
                    :title="$t('pages.account.recipes.showMore')"
                    @click="onShowMore"></rc-button>
                </b-col>
              </b-row>

            </b-col>
          </b-row>

          <b-row class="mb-5">
            <b-col class="col-12 col-md-7">

              <div class="pb-1"> <!-- my statistics header -->
                <h4 v-text="$t('pages.account.statistics.title')"></h4>
                <p class="text-muted text-small" v-text="$t('pages.account.statistics.description')"></p>
              </div> <!-- my statistics header -->

              <b-row class="mb-2"> <!-- recipe views count -->
                <b-col cols="12" md="4" class="text-md-right pr-md-2"
                  v-text="$t('pages.account.statistics.recipesViewed')">
                </b-col>
                <b-col cols="12" md="8" class="font-weight-bold">
                  <span v-text="$tc('pages.account.statistics.viewsStr', user.statistics.recipes.viewed)"></span>
                  <span v-text="$tc('pages.account.statistics.countStr', user.statistics.recipes.distinctviews)"></span>
                </b-col>
              </b-row> <!-- recipe views count -->

              <b-row class="mb-2"> <!-- recipe cooked count -->
                <b-col cols="12" md="4" class="text-md-right pr-md-2"
                  v-text="$t('pages.account.statistics.cooked')">
                </b-col>
                <b-col cols="12" md="8" class="font-weight-bold">
                  <span v-text="$tc('pages.account.statistics.countStr', user.statistics.recipes.cooked)"></span>
                </b-col>
              </b-row> <!-- recipe cooked count -->

              <b-row class="mb-2"> <!-- recipe voted count -->
                <b-col cols="12" md="4" class="text-md-right pr-md-2"
                  v-text="$t('pages.account.statistics.voted')">
                </b-col>
                <b-col cols="12" md="8" class="font-weight-bold">
                  <span v-text="$tc('pages.account.statistics.countStr', user.statistics.recipes.voted)"></span>
                </b-col>
              </b-row> <!-- recipe voted count -->

            </b-col>
          </b-row>

        </div> <!-- profile view if no child is selected -->
      </b-container>
    </template>

    {% include 'templates/user/usercontact-template.html.twig' %}
    {% include 'templates/user/useredit-template.html.twig' %}
