
    <template id="sidebar-template">
      <div>
        <b-sidebar id="sidebar-main"
          :page="page"
          bg-variant="light-blue"
          @change="toggleSidebar"
          shadow :backdrop="!page.sidebar.initialVisible"
          :visible="page.sidebar.visible"
          no-header
          :no-close-on-route-change="page.sidebar.initialVisible"
          no-close-on-esc>
          <ul class="nav-sidebar-level1">

            <sidebar-ul1-li to="home"
              :icon="page.iconSet.home.icon" :space="page.iconSet.home.space"
              :text="$t('sidebar.home')"></sidebar-ul1-li>

            <sidebar-ul1-li to="account"
              :icon="page.iconSet.user.icon" :space="page.iconSet.user.space"
              :text="$t('sidebar.profile.account')"></sidebar-ul1-li>

            <ul class="nav-sidebar-level2"
              v-if="$route.matched[0].name === 'account'">

              <sidebar-ul1-li to="subscriptions"
                :icon="page.iconSet.star.icon" :space="page.iconSet.star.space"
                :text="$t('sidebar.profile.subscriptions')"></sidebar-ul1-li>

              <sidebar-ul1-li to="notifications"
                :icon="page.iconSet.notification.icon" :space="page.iconSet.notification.space"
                :text="$t('sidebar.profile.notifications')"></sidebar-ul1-li>

              <sidebar-ul1-li to="contact"
                :icon="page.iconSet.msg.icon" :space="page.iconSet.msg.space"
                :text="$t('sidebar.profile.contact')"></sidebar-ul1-li>

              <sidebar-ul1-li to="settings"
                :icon="page.iconSet.settings.icon" :space="page.iconSet.settings.space"
                :text="$t('sidebar.profile.settings')"></sidebar-ul1-li>

            </ul>

            <sidebar-ul1-li to="writeRecipe"
              :icon="page.iconSet.add.icon" :space="page.iconSet.add.space"
              :text="$t('sidebar.writeRecipe')"></sidebar-ul1-li>

            <sidebar-ul1-li to="search"
              :icon="page.iconSet.search.icon" :space="page.iconSet.search.space"
              :text="$t('sidebar.search')"></sidebar-ul1-li>

            <sidebar-ul1-li to="myRecipes"
              :icon="page.iconSet.recipes.icon" :space="page.iconSet.recipes.space"
              :text="$t('sidebar.myRecipes')"></sidebar-ul1-li>

            <sidebar-ul1-li to="random"
              :icon="page.iconSet.random.icon" :space="page.iconSet.random.space"
              :text="$t('sidebar.random')"></sidebar-ul1-li>

            <sidebar-ul1-li to="admin"
              v-if="user.isAdmin"
              :icon="page.iconSet.settings.icon" :space="page.iconSet.settings.space"
              :text="$t('sidebar.admin.title')"></sidebar-ul1-li>

            <ul class="nav-sidebar-level2"
              v-if="user.isAdmin && ($route.name === 'admin' || ($route.matched.length > 0 && $route.matched[0].name === 'admin'))">

              <sidebar-ul1-li to="configuration"
                :icon="page.iconSet.settings.icon" :space="page.iconSet.settings.space"
                :text="$t('sidebar.admin.configuration')"></sidebar-ul1-li>

              <sidebar-ul1-li to="cronjobs"
                :icon="page.iconSet.settings.icon" :space="page.iconSet.settings.space"
                :text="$t('sidebar.admin.cronjobs')"></sidebar-ul1-li>

              <sidebar-ul1-li to="logs"
                :icon="page.iconSet.settings.icon" :space="page.iconSet.settings.space"
                :text="$t('sidebar.admin.logs')"></sidebar-ul1-li>

              <sidebar-ul1-li to="users"
                :icon="page.iconSet.settings.icon" :space="page.iconSet.settings.space"
                :text="$t('sidebar.admin.users')"></sidebar-ul1-li>

            </ul>

          </ul>
          <template slot="footer">
            <div v-b-toggle.sidebar-main class="d-flex bg-dark text-gray align-items-center px-3 py-2 fs-80">
              <span class="mr-auto">
                <b-icon icon="chevron-double-left" class="text-100"></b-icon>
                ${ $t('sidebar.close') }
              </span>
            </div>
          </template>
        </b-sidebar>
      </div>
    </template>

    <template id="sidebar-ul1-li-template">
      <li>
        <router-link :to="{ name: to, params: params }">
          <fa-icon :space="space" :icon="icon"></fa-icon>
          <span v-text="text"></span>
        </router-link>
      </li>
    </template>

    <template id="sidebar-ul2-li-template">
      <li>
        <router-link :to="{ name: to, params: params }">
          <fa-icon :fas="fas" :far="far" :icon="icon"></fa-icon>
          ${text}
        </router-link>
      </li>
    </template>

    <template id="fa-icon-template">
      <i :class="[
          {fas: (fas && !far && !space) || space === 'fas'},
          {far: ((far || !fas) && !space) || space === 'far'},
          {'fa-fw': fw === true},
          {'fa-spin': spin === true},
          {'fa-pulse': pulse === true},
          icon ? 'fa-' + icon : 'fa-question'
        ]"></i>
    </template>

    <template id="btn-scrollto-template">
      <rc-button
        :badge="badge"
        :badgeicon="badgeicon"
        :outline="outline"
        :title="title"
        :subject="subject"
        :target="target"
        :icon="icon"
        :space="space"
        @click="onClick"></rc-button>
    </template>
