        <template id="rc-navbar-template">
          <b-navbar type="light" variant="contrast-darker" sticky
            class="py-0 overflow-hidden" tag="header" id="header-navbar"
            v-if="user.loggedIn === true"> <!-- rc-navbar sticky top navigation -->

            <router-link
              :to="{ name: 'home' }"
              class="navbar-brand text-light mr-0 mr-md-2 my-2"
              v-if="!page.search.filter.hasFocus">
              <!-- page title -->
              ${ $t('pages.common.navtitle') }</router-link>

            <fa-icon
              :icon="page.iconSet.spinner.icon" :space="page.iconSet.spinner.space"
              spin class="text-light ml-2 my-2"
              v-if="page.loading !== false || page.updating !== false">
              <!-- spinning icon when page is loading --></fa-icon>

            <span class="small text-light ml-2 my-2 text-nowrap"
              v-if="page.loading === false && page.updating === false && user.isAdmin && !page.search.filter.hasFocus">
              <!-- page loading time for admins -->
              ${ page.loadingTime}</span>

            <span class="small text-light ml-2 my-2 text-nowrap"
              v-if="user.isAdmin && !page.search.filter.hasFocus">
              <!-- current route -->
              ${ $route.name }</span>

            <b-container fluid class="ml-3 mr-0 pr-0">

              <b-row cols="12" align-h="end" class="w-100">

                <b-col cols="10" sm="9" md="7" lg="6" xl="5"
                  class="pr-0 d-block d-lg-none">
                  <b-form-input
                    type="search" size="sm" id="global-search-input"
                    v-model="page.search.filter.global"
                    placeholder="{{ Controller.l('navigation_topbar_search_placeholder') }}"
                    class="input-dark mw-400px my-2"
                    @update="onSearchInput"
                    @focus="onSearchInputFocused"
                    @blur="onSearchInputBlurred">
                  </b-form-input>
                </b-col>

                <b-col cols="2" class="text-right pl-0">
                  <b-button v-b-toggle.sidebar-main
                    class="header-toggle-nav h-100 w-75px"
                    style="background-color: transparent; border-color: transparent;"
                    v-if="page.sidebar.visible !== true || page.sidebar.initialVisible !== true">
                    <span class="sr-only">Toggle sidebar</span>
                    <fa-icon :icon="page.iconSet.menu.icon" :space="page.iconSet.menu.space"></fa-icon>
                  </b-button>
                </b-col>

              </b-row>

            </b-container>
          </b-navbar> <!-- rc-navbar sticky top navigation -->
        </template>
