
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6 pb-3 pb-lg-0 text-center container-home-login">
          <h3 class="mb-3 font-weight-bold">Registrierte Benutzer</h3>
          Sie haben bereits ein Konto?<br />
          Bitte melden Sie sich an.
          <br /><br />
          <a href="/login" class="btn btn-info font-weight-bold" role="button">Anmelden</a>
        </div>
        <div class="col-12 col-lg-6 pt-3 pt-lg-0 text-center container-home-register">
          <h3 class="mb-3 font-weight-bold">Neu hier?</h3>
          Diese Webseite kann nur mit einem Benutzeraccount verwendet werden.<br />
          Sie können sich über den nachfolgenden Button registrieren.
          <br /><br />
          <a href="/register" class="btn btn-outline-info font-weight-bold" role="button">Registrieren</a>
        </div>
      </div>
