
    <template id="rc-search-template">
      <b-container>
        <b-row class="d-none d-lg-flex">
          <b-col cols="12" md="7">
            <b-form-group
              label-cols="3"
              :label="$t('pages.search.searchingFor') + ': '"
              label-for="search">
              <b-input-group>
                <b-input id="search"
                  :placeholder="$t('pages.search.inputPlaceholder')"
                  v-model="page.search.filter.global"></b-input>
                <b-input-group-append>
                  <rc-button @click="onClick">
                    <fa-icon v-if="!page.loading && !page.updating" :icon="page.iconSet.search.icon" :space="page.iconSet.search.space" class="mr-2"></fa-icon>
                    <fa-icon v-if="page.loading || page.updating" :icon="page.iconSet.spinner.icon" :space="page.iconSet.spinner.space" class="fa-spin mr-2"></fa-icon>
                    <strong v-text="$t('pages.search.inputButtonText')"></strong>
                  </rc-button>
                </b-input-group-append>
              </b-input-group>
            </b-form-group>
          </b-col>
        </b-row>
        <b-container class="px-0"
          v-if="page.search.hasSearchCompleted">
          <b-row class="my-3">
            <b-col cols="12" lg="7">
              <h4 v-text="$tc('pages.search.results.header', page.search.results.length, { num: page.search.results.length })"></h4>
            </b-col>
          </b-row>
          <b-container class="search-result-list d-flex flex-column px-0"
            v-if="page.search.results.length > 0">
            <b-card no-body class="overflow-hidden pointer my-2 shadow-sm"
              v-for="(record, index) in page.search.results" v-bind:key="record.id"
              @click="onSearchItemClicked(index, record.id, record.name)">
              <b-row>
                <b-col md="6" lg="4">
                  <b-card-img-lazy
                    :src="'/images/' + (record.pictureId == 0 ? 'dummy' : record.id + '/' + record.pictureId)">
                  </b-card-img-lazy>
                </b-col>
                <b-col md="6" lg="8">
                  <b-card-body :title="record.name">
                    <b-card-text>
                      ${ record.description }
                    </b-card-text>
                    <b-card-text>
                      <span v-if="record.ownerId > 0">
                        <fa-icon :icon="page.iconSet.user.icon" :space="page.iconSet.user.space"></fa-icon>
                        ${ record.ownerName }
                      </span>
                      <span
                        :class="[ record.ownerId > 0 ? 'ml-2' : '' ]">
                        <fa-icon :icon="page.iconSet.calendar.icon" :space="page.iconSet.calendar.space"></fa-icon>
                        ${ published(record) }
                      </span>
                    </router-link>
                  </b-card-body>
                </b-col>
              </b-row>
            </b-card>
          </b-container>
        </b-container>
      </b-container>
    </template>
