
    <template id="rc-search-template">
      <b-container>
        <b-row>
          <b-col cols="12" md="7">
            <b-form-group
              label-cols="3"
              :label="$t('pages.search.searchingFor') + ': '"
              label-for="search">
              <b-input-group>
                <b-input id="search"
                  :placeholder="$t('pages.search.inputPlaceholder')"
                  v-model="page.search.filter.global"></b-input>
                <b-input-group-append>
                  <b-button variant="light-blue" @click="onClick">
                    <fa-icon v-if="!page.loading && !page.updating" :icon="page.iconSet.search.icon" :space="page.iconSet.search.space" class="mr-2"></fa-icon>
                    <fa-icon v-if="page.loading || page.updating" :icon="page.iconSet.spinner.icon" :space="page.iconSet.spinner.space" class="fa-spin mr-2"></fa-icon>
                    <strong v-text="$t('pages.search.inputButtonText')"></strong>
                  </b-button>
                </b-input-group-append>
              </b-input-group>
            </b-form-group>
          </b-col>
        </b-row>
        <b-container class="px-0"
          v-if="page.search.results.length > 0">
          <b-row class="my-3">
            <b-col cols="12" lg="7">
              <h4 v-text="$t('pages.search.results.header', { num: page.search.results.length })"></h4>
            </b-col>
          </b-row>
          <b-container class="search-result-list d-flex flex-column px-0">
            <b-row cols="12" cols-lg="7"
              v-for="(record, index) in page.search.results" v-bind:key="record.id"
              class="search-result-item align-items-start d-flex flex-row p-2 mx-2 my-2 my-lg-1 rounded pointer"
              @click="onSearchItemClicked(index, record.id, record.name)">
              <b-container class="image-box d-inline-block p-0 m-0 mr-2">
                <b-img-lazy
                  :src="'/images/0x90/' + (record.pictureId == 0 ? 'dummy' : record.id + '/' + record.pictureId)">
                </b-img-lazy>
              </b-container>
              <b-col cols="9"
                class="d-flex flex-column w-100">
                <h5 v-text="record.name"></h5>
                <p v-text="record.description"></p>
              </b-col>
            </b-row>
          </b-container>
        </b-container>
      </b-container>
    </template>
