              <b-container class="page-content p-0 pt-3">
                <b-container class="row mb-lg-2"
                  v-if="user.loggedIn === true && title !== ''">
                  <b-container class="col-12 mb-3">
                    <h3 class="font-weight-bold" v-text="title"></h3>
                    <p class="text-muted mb-0" v-if="subtitle !== ''" v-text="subtitle"></p>
                  </b-container>
                </b-container>
                <router-view
                  :config="config"
                  :page="page"
                  :recipe="page.currentRecipe"
                  :user="user">
                </router-view>
              </b-container>
