
      var abookpage = 0;
      var abookstart = 0;
      var abooklen = {{ Config.lsModalEntriesCount.getInt() }};
      var paginationinitialized = false;
      var pageactive = undefined;

      var abooktarget = undefined;

      var knownEntries = {};
      var selectedEntries = {};

      var icoChecked = '{{ Config.Icons.Checked.getIcon("fa-fw mr-1")|raw }}';
      var icoUnChecked = '{{ Config.Icons.Unchecked.getIcon("fa-fw mr-1")|raw }}';
      var icoStar = '{{ Config.Icons.Favorite.getIcon("fa-fw ml-1 small text-warning")|raw }}';

      var isSending = false;

      $('.file-send-abookselector').click(function() {
        abooktarget = $('#' + $(this).data('for'));
        knownEntries = {};
        selectedEntries = {};
        sendRequest();
        $('#abookselector-modal').modal();
      });

      $('#form-file-sendmail').submit(function(event) {
        var me = $(this);
        var form = document.getElementById('form-file-sendmail');
        if (form.checkValidity() && !isSending) {
          isSending = true;
          $('#file-sendmail-submit').prop('disabled', true);
          $('#file-sendmail-spinner').removeClass('d-none');
          var dataobj = {
            file: me.data('fileid'),
            attfilename: $('#file-send-filename').val(),
            mailto: $('#file-send-to').val(),
            mailcc: $('#file-send-cc').val(),
            mailsubj: $('#file-send-subject').val(),
            mailtext: $('#file-send-content').val()
          };
          $.post('/file/submit-mail/' + me.data('fileid'), dataobj, function(data) {
            $('#file-sendmail-spinner').addClass('d-none');
            $('#file-sendmail-submit').prop('disabled', false);
            isSending = false;
            if (data.Result.Success) {
              $('#sendmail-modal-success').modal();
              setTimeout(function(){ window.location = '/file/' + $('#form-file-sendmail').data('fileid'); }, 3500);
            } else {
              $('#sendmail-modal-errorcode').text(data.Result.Error.Code);
              $('#sendmail-modal-errormessage').text(data.Result.Error.Message);
              $('#sendmail-modal-failed').modal();
            }
          });
          event.preventDefault();
        }
      });

      function sendRequest() {
        $.getJSON('/ajax/abook/' + abookstart + ',' + abooklen, function(data) {
          updatemodal(data);
        });
      }

      function updatemodal(data) {
        if (data.Result.Success == false) {
          $('#abookselector-modal-error-code').text(data.Result.Error.Code);
          $('#abookselector-modal-error-message').text(data.Result.Error.Message);
          $('#abookselector-modal-error').removeClass('d-none');
        } else {
          if (paginationinitialized == false) {
            if (data.Addressbook.TotalEntries > abooklen) {
              if ($('#abookselector-pagination').hasClass('d-none'))
                $('#abookselector-pagination').removeClass('d-none');
              var count = Math.ceil(data.Addressbook.TotalEntries / abooklen);
              for (i = count; i > 0; i--) {
                $('#abookselector-pagination li:first-child').after('<li class="page-item"><a class="page-link pagination-page" id="pagination-page-' + (i - 1) + '" href="#" data-index="' + (i - 1) + '">' + i + '</a></li>');
                $(document).on('click', '#pagination-page-' + (i - 1) + '', function(){
                  abookpage = $(this).data('index');
                  abookstart = abookpage * abooklen;
                  sendRequest();
                });
              }
            } else {
              if ($('#abookselector-pagination').hasClass('d-none') == false)
                $('#abookselector-pagination').removeClass('d-none');
            }
            paginationinitialized = true;
          }
          if (pageactive !== abookpage) {
            if (pageactive != null) {
              $('#pagination-page-' + pageactive).removeClass('bg-success');
              $('#pagination-page-' + pageactive).removeClass('text-white');
              pageactive = null;
            }
            $('#pagination-page-' + abookpage).addClass('bg-success');
            $('#pagination-page-' + abookpage).addClass('text-white');
            pageactive = abookpage;
          }
          $('.abook-list-item').each(function() {
            $(document).off('click', '#abookselector-modal-address-' + $(this).data('id'));
          });
          $('#abookselector-modal-address-list').empty();
          data.Addressbook.Result.Entries.forEach(function(element, index) {
            if (!(element.Contact in knownEntries)) {
              knownEntries[element.Contact] = element;
            }
            var entrystr = '<li class="list-group-item pointer abook-list-item" id="abookselector-modal-address-' + element.Contact + '" data-id="' + element.Contact + '" title="' + element.ContactName + ': ' + element.ContactMail + '">';
            if (element.Contact in selectedEntries) {
              entrystr += icoChecked.replace('></i>', ' id="abookselector-modal-checkbox-' + element.Contact + '"></i>');
            } else {
              entrystr += icoUnChecked.replace('></i>', ' id="abookselector-modal-checkbox-' + element.Contact + '"></i>');
            }
            entrystr += element.AddressTitle + '<br /><span class="small" style="margin-left:24px;">' + element.ContactName + ': ' + element.ContactMail + '</span>';
            if (element.IsFavorite) {
              entrystr += icoStar;
            }
            entrystr += '</li>';
            $('#abookselector-modal-address-list').append(entrystr);
            $(document).on('click', '#abookselector-modal-address-' + element.Contact, function(){
              var i = $(this).data('id');
              if (i in selectedEntries) {
                delete selectedEntries[i];
                $('#abookselector-modal-checkbox-' + i).replaceWith(icoUnChecked.replace('></i>', ' id="abookselector-modal-checkbox-' + i + '"></i>'));
              } else {
                selectedEntries[i] = true;
                $('#abookselector-modal-checkbox-' + i).replaceWith(icoChecked.replace('></i>', ' id="abookselector-modal-checkbox-' + i + '"></i>'));
              }
              var outstr = [];
              for (j in selectedEntries) {
                outstr.push(knownEntries[j].ContactMail);
              }
              abooktarget.val(outstr.join(', '));
            });
          });
          $('#abookselector-modal-pagination').removeClass('d-none');
          $('#abookselector-modal-addresses').removeClass('d-none');
        }
      }
