    <template id="home-template">
      <b-container>
        <b-row>
          <b-col cols="12" lg="7">
            <h2 v-text="$t('greetings.hello', { user: user.meta.fn !== '' ? user.meta.fn : user.meta.un })"></h2>
            <p>${ $t('pages.home.introtext1') }<br />${ $t('pages.home.introtext2') }</p>
          </b-col>
        </b-row>
        <b-row class="mt-2">
          <b-col cols="12" lg="7">
            <p>
              ${ $t('pages.home.workingon') }
              <span class="d-inline-block d-md-none">
                ${ $t('pages.home.mobile1') }
                <fa-icon
                  :icon="page.iconSet.menu.icon" :space="page.iconSet.menu.space"
                  class="mx-1"></fa-icon>
                ${ $t('pages.home.mobile2') }
              </span>
            </p>
          </b-col>
        </b-row>
      </b-container>
    </template>
