
  <div class="row">
    <div class="col-12 col-lg-8">
      <h4>Dear user</h4>
      this website is currently maintained by the administrators and is
      therefore in maintenance mode.<br />
      Don't worry, your progress is and will remain safe!
      However, we need to update and secure our servers on a regular basis and
      that is what's happening right now.<br />
      Please try the access again at a later time. <!--We estimate the end of the
      maintenance window to be about 2pm.-->
    </div>
  </div>
