
    <div class="container-fluid ">
      <div class="row">
        <div class="col-12 col-xl-6">
          <div class="px-2 pl-xl-5 pb-3 pt-lg-4">
            {% include 'views/fileview/file-view-' ~ Page.Mode ~ '.html.twig'  %}
          </div>
        </div>
        <div class="col-12 col-xl-6">
          <div class="px-2 pr-xl-5 pb-3 pt-lg-4">
            {% if Page.ShowFile %}
            <object class="rounded" width="100%" style="height: 75vh;" data="{{ Page.File.getDownloadLink() }}" type="{{ Page.File.getExtObject().getMimeType() }}"></object>
            {% else %}
            <div class="text-muted">Das Dateiformat kann nicht im Browser angezeigt werden, stattdessen <a href="file/download/{{ Page.File.getId() }}">{{ Config.Icons.Download.getIcon('ml-1')|raw }} herunterladen</a>?</div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
