
    <div class="modal fade" id="new-recipe-modal"
      data-backdrop="static" data-keyboard="false" tabindex="-1"
      aria-labelledby="new-recipe-modal-title" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="new-recipe-modal-title"
              v-text="$t('pages.writeRecipe.modal.title')"></h5>
          </div>
          <div class="modal-body"
            v-if="progress.preparing"><p v-text="$t('pages.writeRecipe.modal.preparing')"></p>
          </div>
          <div class="modal-body"
            v-if="progress.sending"><p v-text="$t('pages.writeRecipe.modal.description')"></p>
          </div>
          <div class="modal-body bg-warning"
            v-if="!progress.sending && progress.gotresponse && !progress.responseSuccess">
            <p v-text="$t('pages.writeRecipe.modal.error')"></p>
            <p>${ progress.response.code }:
              <span v-if="progress.response.message != ''" v-text="$t(progress.response.message)"></span>
              <span v-if="progress.response.i18nmessage != ''" v-text="$t(progress.response.i18nmessage)"></span>
            </p>
          </div>
          <div class="modal-body bg-success text-light"
            v-if="!progress.sending && progress.gotresponse && progress.responseSuccess"
            v-text="$t('pages.writeRecipe.modal.success')">
          </div>
          <div class="modal-footer">
            <b-button type="button" id="new-recipe-modal-spinner"
              v-if="progress.sending"
              class="btn-blue" disabled>
              <fa-icon :icon="page.iconSet.spinner.icon" :space="page.iconSet.spinner.space" spin fw></fa-icon>
            </b-button>
            <b-button type="button"
              v-if="!progress.sending && (progress.responseSuccess || page.currentRecipe.id > 0)"
              class="btn-outline-blue" data-dismiss="modal"
              v-text="$t('pages.writeRecipe.modal.backButton')"></b-button>
            <b-button type="button" id="new-recipe-modal-new"
              v-if="!progress.sending && progress.gotresponse && progress.responseSuccess && page.currentRecipe.id == 0"
              class="btn-outline-blue" data-dismiss="modal" @click="onNewRecipeBtnClick"
              v-text="$t('pages.writeRecipe.modal.newButton')"></b-button>
            <b-button type="button" id="new-recipe-modal-new"
              v-if="!progress.sending && ((progress.gotresponse && progress.responseSuccess) || page.currentRecipe.id > 0)"
              class="btn-blue" data-dismiss="modal" @click="onGotoRecipeBtnClick"
              v-text="$t('pages.writeRecipe.modal.forwardButton')"></b-button>
          </div>
        </div>
      </div>
    </div>
