          <div class="pt-5 pb-3 border-top border-light-dark" id="duration-anchor"
            v-if="recipe.preparation.timeConsumed.total > 0">
            <h4 v-text="$t('pages.recipe.preparation.timeconsumption.title')"></h4>
            <p v-html="$t('pages.recipe.preparation.timeconsumption.overall', { duration: duration(recipe.preparation.timeConsumed.total) })"></p>
            <div class="progress bg-transparent rounded-0 mb-2"
              style="height:1.6rem;">
              <div class="progress-bar progress-element-1 rounded mx-1" role="progressbar"
                :style="pbPrepWidth" :aria-valuenow="pbPrepWidth"
                :title="pbPrepLabelFull"
                aria-valuemin="0" aria-valuemax="100" v-html="pbPrepLabel"></div>
              <div class="progress-bar progress-element-2 rounded mx-1" role="progressbar"
                :style="pbRestWidth" :aria-valuenow="pbRestWidth"
                :title="pbRestLabelFull"
                aria-valuemin="0" aria-valuemax="100" v-html="pbRestLabel"></div>
              <div class="progress-bar progress-element-3 rounded mx-1" role="progressbar"
                :style="pbCookWidth" :aria-valuenow="pbCookWidth"
                :title="pbCookLabelFull"
                aria-valuemin="0" aria-valuemax="100" v-html="pbCookLabel"></div>
            </div>
            <b-alert variant="warning"
              show="user.customSettings.recipes.ltwarning.enabled === true && recipe.preparation.timeConsumed.total > user.customSettings.recipes.ltwarning.minutes">
              <fa-icon
                :icon="page.iconSet.info.icon"
                :space="page.iconSet.info.space"
                class="mr-2"></fa-icon>
              <span v-text="$t('pages.recipe.preparation.timeconsumption.ltwarn')"></span>
            </b-alert>
            <table class="table table-borderless table-sm">
              <tr>
                <th class="pl-0" v-text="$t('pages.recipe.preparation.timeconsumption.preparing')"></th>
                <td class="w-100">
                  <span v-if="recipe.preparation.timeConsumed.preparing == 0" v-text="$t('pages.recipe.preparation.timeconsumption.notset')"></span>
                  <span v-else v-text="duration(recipe.preparation.timeConsumed.preparing)"></span>
                </td>
              </tr>
              <tr>
                <th class="pl-0" v-text="$t('pages.recipe.preparation.timeconsumption.resting')"></th>
                <td class="w-100">
                  <span v-if="recipe.preparation.timeConsumed.rest == 0" v-text="$t('pages.recipe.preparation.timeconsumption.notset')"></span>
                  <span v-else v-text="duration(recipe.preparation.timeConsumed.rest)"></span>
                </td>
              </tr>
              <tr>
                <th class="pl-0" v-text="$t('pages.recipe.preparation.timeconsumption.cooking')"></th>
                <td class="w-100">
                  <span v-if="recipe.preparation.timeConsumed.cooking == 0" v-text="$t('pages.recipe.preparation.timeconsumption.notset')"></span>
                  <span v-else v-text="duration(recipe.preparation.timeConsumed.cooking)"></span>
                </td>
              </tr>
            </table>
          </div>
