          <div class="pt-5 pb-3 border-top border-light-dark" id="steps-anchor">
            <h4 v-text="$t('pages.recipe.preparation.steps.title')"></h4>
            <div
              v-for="step in recipe.preparation.steps">
              <h5>
                <span v-if="recipe.preparation.steps.length > 1 || step.name === ''">
                  ${ step.index }.
                  <span v-if="step.name === ''" v-text="$t('pages.recipe.preparation.steps.placeholder')"></span>
                  <span v-else>${ step.name }</span>
                </span>
                <span v-else>
                  ${ step.name }
                </span>
              </h5>
              <p style="white-space:pre-wrap">${ step.userContent }</p>
            </div>
          </div>
