    <nav class="navbar fixed-bottom d-fixed d-md-none nav-recipe-sm">
      <div class="d-flex w-100">
        <div class="w-50 text-center"
          v-if="recipe !== null && recipe.pictures !== null && recipe.pictures.length !== 0">
          <btn-scrollto
            subject="scrollto"
            :title="$t('pages.recipe.footer.gallery')"
            target="gallery-anchor"
            :icon="page.iconSet.gallery.icon"
            :space="page.iconSet.gallery.space"></btn-scrollto>
        </div>
        <div class="w-50 text-center">
          <btn-scrollto
            subject="scrollto"
            :title="$t('pages.recipe.footer.ingredients')"
            target="ingredients-anchor"
            :icon="page.iconSet.ingredient.icon"
            :space="page.iconSet.ingredient.space"></btn-scrollto>
        </div>
        <div class="w-50 text-center">
          <btn-scrollto
            subject="scrollto"
            :title="$t('pages.recipe.footer.steps')"
            target="steps-anchor"
            :icon="page.iconSet.play.icon"
            :space="page.iconSet.play.space"></btn-scrollto>
        </div>
      </div>
    </nav>
