
          <div class="mb-3 pt-3 border-top border-light-dark" v-if="
            recipe !== null && user !== null &&
            ('ownerId' in recipe) && ('id' in user) &&
            recipe.ownerId === user.id">
            <h5 v-text="$t('pages.recipe.stats.header')"></h5>
            <div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item bg-transparent border-0">
                  <fa-icon :icon="page.iconSet.view.icon"
                    :space="page.iconSet.view.space" fw class="mr-2"></fa-icon>
                  <span v-html="$t('pages.recipe.stats.views.times', [ recipe.socials.cookedCounter ])"></span>
                </li>
                <li class="list-group-item bg-transparent">
                  <fa-icon :icon="page.iconSet.meal.icon"
                    :space="page.iconSet.meal.space" fw class="mr-2"></fa-icon>
                  <span v-html="$t('pages.recipe.stats.cooked.times', [ recipe.socials.viewCounter ])"></span>
                </li>
              </ul>
            </div>
          </div>
