          <b-container class="mt-5 mt-lg-0 pb-3">
            <h4 v-text="$t('pages.recipe.header.about.title')"></h4>
            <span class="mb-1" v-if="recipe.published !== false">
              <p>
                <span v-if="recipe.ownerId !== 0" v-text="$t('pages.recipe.header.about.publication.fromuser', { date: published, user: recipe.ownerName })"></span>
                <span v-if="recipe.ownerId === 0" v-text="$t('pages.recipe.header.about.publication.nouser', { date: published })"></span>
                <span v-if="recipe.socials.cookedCounter === 0 && recipe.socials.votedCounter === 0" v-text="$t('pages.recipe.header.about.socialstats.nothingyet')"></span>
                <span v-if="recipe.socials.cookedCounter > 0 && recipe.socials.votedCounter === 0" v-text="$t('pages.recipe.header.about.socialstats.cookedonly', { count: recipe.socials.cookedCounter })"></span>
                <span v-if="recipe.socials.cookedCounter === 0 && recipe.socials.votedCounter === 1" v-text="$tc('pages.recipe.header.about.socialstats.votedonce', recipe.socials.votedAvg0, { value: recipe.socials.votedAvg0 })"></span>
                <span v-if="recipe.socials.cookedCounter === 0 && recipe.socials.votedCounter > 1" v-text="$tc('pages.recipe.header.about.socialstats.votedmulti', recipe.socials.votedAvg0, { value: recipe.socials.votedAvg0 })"></span>
                <span v-if="recipe.socials.cookedCounter > 0 && recipe.socials.votedCounter > 0" v-text="$t('pages.recipe.header.about.socialstats.cookedAndVoted', { count: recipe.socials.cookedCounter, value: recipe.socials.votedAvg0 })"></span>
              </p>
              <p v-if="recipe.source.description !== '' || recipe.source.url !== ''">
                <strong v-text="$t('pages.recipe.header.about.source')"></strong>
                <span v-if="recipe.source.description !== '' && recipe.source.url === ''" v-text="recipe.source.description"></span>
                <span v-if="recipe.source.description !== '' && recipe.source.url !== ''">
                  <a :href="recipe.source.url" target="_blank" v-text="recipe.source.description"></a>
                </span>
              </p>
            </span>
            <b-alert variant="warning"
              :show="recipe.published === false && recipe.ownerId === user.id">
              <fa-icon
                :icon="page.iconSet.info.icon"
                :space="page.iconSet.info.space"
                class="mr-2 fa-2x float-left"></fa-icon>
              <span v-text="$t('pages.recipe.header.unpublishedAlert.description')"></span>
              <router-link
                :to="{ name: 'editRecipe', params: { id: recipe.id, name: recipe.name} }"
                v-text="$t('pages.recipe.header.unpublishedAlert.link')"
                class="stretched-link"
                ></router-link>
            </b-alert>
          </b-container>
