
          <div class="mb-3" v-if="
            recipe !== null && user !== null &&
            ('ownerId' in recipe) && ('id' in user) &&
            user.isAdmin === true">
            <h5 v-text="$t('pages.recipe.administration.title')"></h5>
            <div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item bg-transparent border-0"
                  v-if="recipe.ownerId === false">
                  <fa-icon :icon="page.iconSet.nouser.icon"
                    :space="page.iconSet.nouser.space" fw class="mr-2"></fa-icon>
                  <span v-text="$t('pages.recipe.administration.deletedAuthorAccount')"></span>
                </li>
                <li class="list-group-item bg-transparent">
                  <router-link :to="{ name: 'user', params: { id: recipe.ownerId, name: recipe.ownerName } }">
                    <fa-icon :icon="page.iconSet.user.icon"
                      :space="page.iconSet.user.space" fw class="mr-2"></fa-icon>
                    <span v-text="$t('pages.recipe.administration.author', [ recipe.ownerName ])"></span>
                  </router-link>
                </li>
              </ul>
            </div>
          </div>
