
          <div class="mt-3" v-if="
            recipe !== null && user !== null &&
            ('ownerId' in recipe) && ('id' in user) &&
            user.isAdmin === true">
            <h5>{{Controller.l('recipe_admin_header')}}</h5>
            <b-container fluid>
              <b-row>
                <b-col cols="12"
                  v-if="recipe.ownerId === false">
                  <fa-icon :icon="page.iconSet.nouser.icon"
                    :space="page.iconSet.nouser.space" fw class="mr-2"></fa-icon>
                  {{ Controller.l('recipe_admin_deletedAuthorAccount')|raw }}
                </b-col>
                <b-col cols="12" v-else>
                  <router-link :to="{ name: 'user', params: { id: recipe.ownerId, name: recipe.ownerName } }">
                    <fa-icon :icon="page.iconSet.user.icon"
                      :space="page.iconSet.user.space" fw class="mr-2"></fa-icon>
                    {{ Controller.l('recipe_admin_author')|raw }}
                  </router-link>
                </b-col>
              </b-row>
            </b-container>
          </div>
