
          <div class="mt-3" v-if="
            recipe !== null && user !== null &&
            ('ownerId' in recipe) && ('id' in user) &&
            recipe.ownerId === user.id">
            <h5 v-text="$t('pages.recipe.stats.header')"></h5>
            <b-container fluid>
              <b-row>
                <b-col cols="12">
                  <fa-icon :icon="page.iconSet.view.icon"
                    :space="page.iconSet.view.space" fw class="mr-2"></fa-icon>
                  <span v-html="$t('pages.recipe.stats.views.times', [ recipe.socials.cookedCounter ])"></span>
                </b-col>
                <b-col cols="12">
                  <fa-icon :icon="page.iconSet.meal.icon"
                    :space="page.iconSet.meal.space" fw class="mr-2"></fa-icon>
                  <span v-html="$t('pages.recipe.stats.cooked.times', [ recipe.socials.viewCounter ])"></span>
                </b-col>
              </b-row>
            </b-container>
          </div>
