
          <span class="mb-3"
            v-if="recipe.ownerId !== user.id">
            <h5 v-text="$t('pages.recipe.rate.header')"></h5>
            <div v-if="page.self.hasVoted === false">
              <rc-button class="float-right"
                :icon="page.iconSet.like.icon" :space="page.iconSet.like.space"
                :title="$t('pages.recipe.rate.button')"
                @click="onRatingStartButtonPress"></rc-button>
              <p class="text-small text-muted" v-text="$t('pages.recipe.rate.description')"></p>
            </div>
            <div v-else>
              <p class="text-small text-muted" v-text="$t('pages.recipe.rate.voted.subject')"></p>
            </div>
          </span>
