
    <template id="recipe-template">
      <div v-if="page.loading !== true && recipe !== undefined && recipe.id !== undefined">
        <b-row>
          <b-col class="col-12 col-md-5 order-0 order-md-1">
            {% include 'templates/recipe/recipe-gallery.html.twig' %}
            {% include 'templates/recipe/recipe-voting.html.twig' %}
            {% include 'templates/recipe/recipe-statistics.html.twig' %}
            {% include 'templates/recipe/recipe-admin.html.twig' %}
          </b-col>
          <b-col class="col-12 col-md-7 order-1 order-md-0">
            {% include 'templates/recipe/recipe-header.html.twig' %}
            {% include 'templates/recipe/recipe-ingredients.html.twig' %}
            {% include 'templates/recipe/recipe-duration.html.twig' %}
            {% include 'templates/recipe/recipe-steps.html.twig' %}
          </b-col>
        </b-row>
        {% include 'templates/recipe/recipe-voting-modal.html.twig' %}
      </div>
    </template>

    <template id="recipe-ingredient-template">
      <tr
        v-if="description !== null && description !== ''">
        <td class="ml-0 text-right pr-1 pr-lg-2">
          <span v-if="quantity !== null && quantity > 0.0">${ quantity }</span>
          <span class="ml-1" v-if="unit !== null && ('name' in unit) && unit.name !== null">${ unit.name }</span>
        </td>
        <td class="w-100">
          <span>${ description }</span>
        </td>
      </tr>
    </template>

      <div class="d-none">
        <div class="row">
          <div class="col-12 col-lg-5 order-0 order-lg-1">
            {% include 'views/recipes/recipe-1c-options.html.twig' %}
            {% include 'views/recipes/recipe-1d-admin.html.twig' %}
          </div>
        </div>
        {% include 'views/recipes/recipe-4a-modal.html.twig' %}
        {% include 'views/recipes/recipe-5a-footer.html.twig' %}
      </div>
