
          <div class="mt-3" v-if="recipe.ownerId === user.id">
            <h5 v-text="$t('pages.recipe.actions.title')"></h5>
            <b-container fluid>

              <!-- publish / unpublish actions -->
              <b-button size="sm" variant="outline-blue"
                id="recipe-publishbtn" v-if="recipe.published === false"
                v-b-tooltip.hover :title="$t('pages.recipe.actions.publish.tooltip')"
                @click="onPublishButtonClicked">
                <fa-icon :icon="page.iconSet.unlock.icon" :space="page.iconSet.unlock.space"
                  class="mr-1" id="recipe-publishbtn-icon"></fa-icon>
                <fa-icon :icon="page.iconSet.spinner.icon" :space="page.iconSet.spinner.space"
                  class="mr-1 d-none fa-spin" id="recipe-publishbtn-spinner"></fa-icon>
                ${ $t('pages.recipe.actions.publish.title') }
              </b-button>
              <b-button size="sm" variant="outline-blue"
                id="recipe-rejectbtn" v-else
                v-b-tooltip.hover :title="$t('pages.recipe.actions.reject.tooltip')"
                @click="onRejectButtonClicked">
                <fa-icon :icon="page.iconSet.unlock.icon" :space="page.iconSet.unlock.space"
                  class="mr-1" id="recipe-rejectbtn-icon"></fa-icon>
                <fa-icon :icon="page.iconSet.spinner.icon" :space="page.iconSet.spinner.space"
                  class="mr-1 d-none fa-spin" id="recipe-rejectbtn-spinner"></fa-icon>
                ${ $t('pages.recipe.actions.reject.title') }
              </b-button>
              <!-- publish / unpublish actions -->

              <!-- recipe edit link -->
              <router-link :to="{ name: 'editRecipe', params: { id: recipe.id, name: recipe.name } }"
                class="float-right">
                <b-button size="sm" variant="blue"
                  v-b-tooltip.hover :title="$t('pages.recipe.actions.edit.tooltip')">
                  <fa-icon :icon="page.iconSet.edit.icon" :space="page.iconSet.edit.space"
                    class="mr-1"></fa-icon>
                  ${ $t('pages.recipe.actions.edit.title') }
                </b-button>
              </router-link>
              <!-- recipe edit link -->

            </b-container>
          </div>
          <div class="mt-3" v-if="recipe.ownerId !== user.id && recipe.ownerId !== 0 && recipe.ownerProperties.recipeCount > 1"> <!-- public actions -->
            <h5 v-text="$t('pages.recipe.actions.titleOthers', { user: recipe.ownerName })"></h5>
            <div>
              <p class="text-small text-muted" v-text="$tc('pages.recipe.actions.userRecipes.description', recipe.ownerProperties.recipeCount - 1, { user: recipe.ownerName })"></p>
              <!-- user recipes link -->
              <router-link :to="{ name: 'userRecipes', params: { id: recipe.ownerId, name: recipe.ownerName } }">
                <b-button size="sm" variant="blue">
                  <fa-icon :icon="page.iconSet.recipes.icon" :space="page.iconSet.recipes.space"
                    class="mr-1"></fa-icon>
                  <span v-text="$t('pages.recipe.actions.userRecipes.btnTitle', { user: recipe.ownerName })"></span>
                </b-button>
              </router-link>
              <!-- user recipes link -->
            </div>
          </div>
