          <div class="mb-3" id="gallery-anchor"
            v-if="recipe.pictures.length !== 0">
            <router-link
              :to="{ name: 'gallery', params: { id: recipe.id, name: recipe.name } }"
              class="float-right">
              <rc-button
                :icon="page.iconSet.gallery.icon" :space="page.iconSet.gallery.space"
                :title="$t('pages.recipe.gallery.goto')"></rc-button>
            </router-link>
            <h5 v-text="$t('pages.recipe.gallery.header')"></h5>
            <b-container fluid>
              <b-row>
                <b-col class="p-1 col-12" v-for="(pic, index) in recipe.pictures.slice(0, 1)" :key="index">
                  <b-aspect aspect="3:1">
                    <img loading="lazy" class="rounded of-cover img-fluid img-thumbnail pointer" :src="pic.thumbnail" :id="'recipe-picture-' + index"
                      @click="toggleGallery(index)"></img>
                  </b-aspect>
                </b-col>
                <b-col class="p-1 col-6" v-for="(pic, index) in recipe.pictures.slice(1, 5)" :key="index+1">
                  <b-aspect aspect="16:9">
                    <img loading="lazy" class="rounded of-cover img-fluid img-thumbnail pointer" :src="pic.thumbnail" :id="'recipe-picture-' + index+1"
                      @click="toggleGallery(index+1)"></img>
                  </b-aspect>
                </b-col>
              </b-row>
            </b-container>
          </div>
          <div class="mb-3" id="gallery-anchor" v-else>
            <h5 v-text="$t('pages.recipe.gallery.header')"></h5>
            <router-link
              :to="{ name: 'gallery', params: { id: recipe.id, name: recipe.name } }"
              class="float-right">
              <rc-button
                :icon="page.iconSet.gallery.icon" :space="page.iconSet.gallery.space"
                :title="$t('pages.recipe.options.toGallery')"></rc-button>
            </router-link>
            <router-link
              :to="{ name: 'gallery', params: { id: recipe.id, name: recipe.name } }">
              <p class="text-small text-muted" v-text="$t('pages.recipe.gallery.nopics')"></p>
            </router-link>
          </div>
