          <div id="gallery-anchor"
            v-if="recipe.pictures.length !== 0">
            <h5>{{Controller.l('recipe_gallery_header')}}</h5>
            <b-container fluid>
              <b-row>
                <b-col class="p-1 col-6 col-lg-12" v-for="(pic, index) in recipe.pictures.slice(0, 1)" :key="index">
                  <b-aspect aspect="3:1">
                    <b-img-lazy thumbnail fluid class="rounded of-cover" :src="pic.link"></b-img>
                  </b-aspect>
                </b-col>
                <b-col class="p-1 col-6" v-for="(pic, index) in recipe.pictures.slice(1, 5)" :key="index+1">
                  <b-aspect aspect="16:9">
                    <b-img-lazy thumbnail fluid class="rounded of-cover" :src="pic.link"></b-img>
                  </b-aspect>
                </b-col>
              </b-row>
            </b-container>
          </div>
