
      <div class="w-100">
        <div class="tab-content">
          <div class="tab-pane fade show active" id="customer-overview"
            role="tabpanel" aria-labelledby="customer-overview-tab">
            <h5>Übersicht</h5>

            <form class="overview-form" id="overview-form" action="#">


            </form>

          </div>

          <div class="tab-pane fade" id="customer-general"
            role="tabpanel" aria-labelledby="customer-general-tab">

            <h5>Allgemeine Kundendaten</h5>
            <form class="general-form" id="general-form" action="#">

              <div class="form-row"><!-- customer type -->
                <div class="col-6 col-md-3">
                  <div class="form-group">
                    <label for="customer-type">Kundentyp</label>
                    <select class="form-control form-control-sm" id="customer-type" name="customer-type">
                      <option value="0" {% if Customer.getType() == 0 %}selected{% endif %}>Privat</option>
                      <option value="1" {% if Customer.getType() == 1 %}selected{% endif %}>Gewerblich</option>
                    </select>
                    <div class="invalid-feedback"
                      id="customer-type-feedback">
                      Bitte wählen Sie einen Eintrag.
                    </div>
                  </div>
                </div>
              </div><!-- end row customer type -->

            </form>

          </div> <!-- end customer-general -->

          <div class="tab-pane fade" id="customer-addresses"
            role="tabpanel" aria-labelledby="customer-addresses-tab">
            <h5>Addressen</h5>
          </div>
          <div class="tab-pane fade" id="customer-financial"
            role="tabpanel" aria-labelledby="customer-financial-tab">
            <h5>Rechnungsdaten</h5>
          </div>
          <div class="tab-pane fade" id="customer-emergency"
            role="tabpanel" aria-labelledby="customer-emergency-tab">
            <h5>Notfalldaten</h5>
          </div>
        </div>
      </div>
